@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "GILROYSEMIBOLD";
    src: url("../public/fonts/GilroySemibold.ttf");
  }


@font-face {
    font-family: "GILROYBOLD";
    src: url("../public/fonts/GilroyBold.ttf");
  }


@font-face {
    font-family: "GILROYMEDIUM";
    src: url("../public/fonts/GilroyMedium.ttf");
  }


@font-face {
    font-family: "GILROYLIGHT";
    src: url("../public/fonts/GilroyLight.ttf");
  }

body *:not(i) {
    font-family: 'GILROYMEDIUM', sans-serif;
}

body {
  min-width: 340px;
}


body::-webkit-scrollbar,
.cusscroller::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-track,
.cusscroller::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb,
.cusscroller::-webkit-scrollbar-thumb {
  background-color: rgb(219, 219, 219);
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover,
.cusscroller::-webkit-scrollbar-thumb:hover {
  background-color: rgb(190, 190, 190);
}